#mainContainer {
  margin: 100px auto;
  width: fit-content;
  height: auto;
}
.canvasLines {
  background-color: grey;
}

#IntroTag {
  margin-top: -19%;
  margin-left: 5%;
  position: absolute;
}

#oneSixTag {
  margin-top: -20%;
  margin-left: 14%;
  position: absolute;
}

#empathyTag {
  margin-top: -20.2%;
  margin-left: 78%;
  position: absolute;
}

#energyTag {
  margin-top: -17.8%;
  margin-left: 76%;
  position: absolute;
}

#politeTag {
  position: absolute;
  margin-top: -15.7%;
  margin-left: 75.2%;
}

#cynaColortag {
  position: absolute;
  margin-top: -19%;
  margin-left: 70%;
}
.oneSixTagDiv {
  width: fit-content;
  margin-left: 67%;
  background-color: green;
  height: 20px;
  padding: 5px;
  border-radius: 10px 10px 0px 10px;
  color: white;
}

.IntroTagDiv {
  width: fit-content;
  background-color: #00ff99;
  height: 20px;
  padding: 5px;
  border-radius: 10px 10px 0px 10px;
  color: white;
}

.empathyTagDiv {
  margin-left: -4px;
  border-radius: 10px;
  width: 185px;
  background-color: rgb(0, 70, 128);
  height: 20px;
  padding: 5px;
  border-radius: 10px 10px 0px 10px;
  color: white;
}

.energyTagDiv {
  border-radius: 10px;
  width: 175px;
  margin-left: 4px;
  background-color: coral;
  height: 20px;
  padding: 5px;
  border-radius: 10px 10px 0px 10px;
  color: white;
}

.politeTagDiv {
  border-radius: 10px;
  width: 40px;
  background-color: rgb(238, 1, 226);
  margin-left: 139px;
  height: 20px;
  padding: 5px;
  border-radius: 10px 10px 0px 10px;
  color: white;
}

.IntroTagDivDot {
  background-color: #00ff99;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

.oneSixTagDivDot {
  background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

.empathyTagDivDot {
  background-color: rgb(0, 70, 128);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

.energyTagDivDot {
  background-color: coral;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

.politeTagDivDot {
  background-color: rgb(238, 1, 226);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

.cynaColortag {
  background-color: cyan;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

audio {
  display: none;
}

.fa {
  margin-top: 15px;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  color: cyan;
}

.ContainerButton {
  width: 100%;
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.controlDivs {
  text-align: center;
  height: 50px;
  width: 100px;
  border: 1px solid cyan;
  border-radius: 25px;
}

.playDiv {
  text-align: center;
  height: 70px;
  width: 140px;
  border: 1px solid cyan;
  border-radius: 35px;
}
